* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.ttf');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.ttf');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.ttf');
}

@font-face {
    font-family: 'UbuntuLight';
    src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
    font-family: 'UbuntuRegular';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/MontserratBold.ttf');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-block {
    background: #2C2319;
}

.header-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px 0 35px 0;
}

.header-content div {
    display: flex;
    align-items: center;
}

.header-content .mail-title,  .header-content .phone-title, .header-content .insta-title {
    margin-left: 10px;
    color: #fff;
    font-family: 'UbuntuLight', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.header-content .mail-title:hover,  .header-content .phone-title:hover, .header-content .insta-title:hover {
    color: #EEAB47;
}

.header-content .phone-title {
    font-family: 'UbuntuBold', sans-serif;
}

.nav {
    background: #5f8f94;
}

.nav .nav-content {
    text-align: center;
    padding: 12px 0;
}

.nav-item {
    font-family: 'UbuntuLight', sans-serif;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.nav-item::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 18px;
    background: #C4C4C4;
    ;
    margin-left: 32.5px;
    margin-right: 32.5px;
}

.nav-item:hover {
color: #EEAB47;
}

.nav a:last-child:after {
    display: none;
}

#main {
    background: url(../img/main/main-bg.png) no-repeat center;
    background-size: cover;
}

.main-content {
    /* background-image: url(../img/main/main-bg.png); */
    background-size: 1440px 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #2C2319; */
}

.main-title {
    padding-top: 185px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'MontserratBold', sans-serif;
    font-size: 40px;
    line-height: 49px;
    color: #fff;
    max-width: 495px;
}

.main-description {
    margin-bottom: 45px;
    font-family: 'RobotoLight', sans-serif;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 330px;
}

.main-buttons {
    display: flex;
    flex-direction: column;

}

.main-buttons .button-order {
    width: 242px;
    height: 55px;
    border: none;
    background: linear-gradient(102.8deg, #FCCA80 0%, #CD8314 100%);
    font-family: 'RobotoMedium', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    transition: all 0.1s ease-in-out;
}

.main-buttons .button-order:hover {
    box-shadow: 0 0 17px 0 #d0a05b;
}

.main-buttons .button-calc:hover {
    box-shadow: 0 0 17px 0 #d0a05b;
}

.main-buttons .button-calc {
    margin-top: 15px;
    margin-bottom: 185px;
    width: 242px;
    height: 55px;
    border: 2px solid #FCCA80;
    background: transparent;
    font-family: 'RobotoMedium', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #FCCA80;
    transition: all 0.1s ease-in-out;
    /* #CD8314; */
}

#facts .container img.facts-img {
    margin: 150px 0 50px 0;
    width: 100%;
}

h2 {
    font-family: 'MontserratBold', sans-serif;
    font-size: 30px;
    color: #2C2319;
    text-align: center;
    margin-bottom: 80px;
}

.service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    width: 373px;
    height: 186px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

.service-item:hover {
    cursor: pointer;
    box-shadow: inset 0 0 150px 20px #231d11;
}

.service-description {
    font-family: 'RobotoMedium', sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 29px;
    max-width: 250px;
    text-align: center;
}

.service-item:first-child {
    background: url(../img/services/service-img1.png);
}

.service-item:nth-child(2) {
    background: url(../img/services/service-img2.png);
}

.service-item:nth-child(3) {
    background: url(../img/services/service-img3.png);
}

.service-item:nth-child(4) {
    background: url(../img/services/service-img4.png);
}

.service-item:nth-child(5) {
    background: url(../img/services/service-img5.png);
}

.service-item:nth-child(6) {
    background: url(../img/services/service-img6.png);
}

.service-item:nth-child(7) {
    background: url(../img/services/service-img7.png);
}

.service-item:nth-child(8) {
    background: url(../img/services/service-img8.png);
}

.service-item:last-child {
    background: url(../img/services/service-img9.png);
}

.advantages-title {
    margin-top: 120px;
}

.advantage-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage-item {
    text-align: center;
    margin-bottom: 60px;
}

.advantage-img {
    margin-bottom: 20px;
}

.advantage-title {
    color: #33291F;
    font-family: 'RobotoMedium', sans-serif;
    font-size: 20px;
}

.advantage-description {
    max-width: 250px;
    max-width: 315px;
    padding: 10px 15px;
    color: #7d7369;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
}

.portfolio-title {
    margin-top: 90px;
}

.portfolio-img {
    position: relative;
    height: 600px;
    margin: 0 auto;
    display: block;
}

.portfolio-item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    list-style-type: none;
}

.portfolio-item img {
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.portfolio-item-active {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.portfolio-btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    z-index: 5;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: 50px;
    border-radius: 50%;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    width: 50px;
    height: 50px;
}

.portfolio-btn.prev {
    left: 20px;
    background-image: url(../img/portfolio/arrow-left1.svg);
    background-position: 35% 50%;
    background-size: 15px;
    left: 10px;
}

.portfolio-btn.next {
    right: 20px;
    background-image: url(../img/portfolio/arrow-right2.svg);
    background-position: 65% 50%;
    background-size: 15px;
    right: 10px;
}

.portfolio-btn:hover {
    background-color: rgba(0, 0, 0, .8);
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.portfolio-dots {
    margin: 40px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 5;
    padding-inline-start: 0;
}

.portfolio-dots .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid #2C2319;
    display: inline-block;
    -webkit-transition: background-color, -webkit-transform .4s;
    transition: background-color, transform .4s, -webkit-transform .4s;
}

.portfolio-dots .dot-active {
    background-color: #2C2319;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio-dots .dot:hover {
    background-color: #FCCA80;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.steps-title {
    margin-top: 150px;
}

.step-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.step-item {
    max-width: 415px;
    position: relative;
}

.step-title {
    font-family: 'RobotoBold', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #33291F;
    margin-bottom: 10px;
    z-index: 100;
}

.step-description {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #55504B;
}

.step-item:first-child::before {
    content: '1';
    font-size: 170px;
    font-family: 'RobotoBold', sans-serif;
    color: rgba(126, 123, 121, 0.2);
    position: absolute;
    top: -86px;
    left: -50px;
}

.step-item:nth-child(2),
.step-item:nth-child(4),
.step-item:nth-child(6) {
    margin-top: 150px;
}

.step-item:nth-child(2)::before {
    content: '2';
    font-size: 170px;
    font-family: 'RobotoBold', sans-serif;
    color: rgba(126, 123, 121, 0.2);
    position: absolute;
    top: -86px;
    left: -50px;
}

.step-item:nth-child(3)::before {
    content: '3';
    font-size: 170px;
    font-family: 'RobotoBold', sans-serif;
    color: rgba(126, 123, 121, 0.2);
    position: absolute;
    top: -86px;
    left: -50px;
}

.step-item:nth-child(4)::before {
    content: '4';
    font-size: 170px;
    font-family: 'RobotoBold', sans-serif;
    color: rgba(126, 123, 121, 0.2);
    position: absolute;
    top: -86px;
    left: -50px;
}

.step-item:nth-child(5)::before {
    content: '5';
    font-size: 170px;
    font-family: 'RobotoBold', sans-serif;
    color: rgba(126, 123, 121, 0.2);
    position: absolute;
    top: -86px;
    left: -50px;
}

.step-item:last-child::before {
    content: '6';
    font-size: 170px;
    font-family: 'RobotoBold', sans-serif;
    color: rgba(126, 123, 121, 0.2);
    position: absolute;
    top: -86px;
    left: -50px;
}

.team-title {
    margin-top: 150px;
}

.team-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 999px;
    margin: 0 auto 70px auto;
}

.team-img {
    max-width: 250px;
}

.member {
    text-align: center;
    margin-bottom: 80px;
}

.member-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'RobotoBold', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #33291F;
}

.member-description {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #33291F;
}

#calc {
    background: url(../img/calc-bg.png) no-repeat center;
    padding-bottom: 80px;
    background-size: cover;
}

.calc-title {
    padding-top: 80px;
    color: #fff;
}

.calc-block {
    background: #33291F;
    max-width: 835px;
    margin: 0 auto;
    text-align: center;
}

.calc-inputs {
    padding: 60px 0 20px 0;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calc-item {
    width: 273px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    padding-left: 12px;
    color: #fff;
    font-family: 'RobotoRegular', sans-serif;
    margin-bottom: 30px;

}

.calc-item:focus {
    outline: none;
}

.calc-item::placeholder {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.calc-total {
    font-family: 'RobotoRegular', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.calc-button {
    width: 273px;
    height: 55px;
    background: linear-gradient(101.39deg, #FAC77C 0%, #D0871A 100%);
    border: none;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    font-family: 'RobotoBold', sans-serif;
    color: #FFFFFF;
    margin: 40px auto 30px auto;
    transition: all 0.1s ease-in-out;
}

.calc-mini {
    max-width: 550px;
    font-family: 'RobotoLight', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #9e9e9e;
    padding-bottom: 60px;
    margin: 0 auto;
}

#discounts {
    margin-top: 150px;
}

.discounts-block {
    display: flex;
    justify-content: space-between;
}

.discount-item {
    max-width: 333px;
    background-color: #33291F;
    border: 1px solid #33291F;
    transition: all 0.1s ease-in-out;
    max-height: 458px;
}

.discount-item:hover {
    box-shadow: 0 0 20px 0 #33291F;
}

.discount-title {
    font-family: 'RobotoMedium', sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    max-width: 275px;
    margin: 0 auto;
    padding: 35px 0;
}

.discount-title span {
    color: #EEAB47;
}

.discount-img img {
    overflow: hidden;
    width: 100%;
    max-height: 340px;
}

#guarantee {
    margin-top: 150px;
    margin-bottom: 130px;
}

.guarantee-block {
    display: flex;
    justify-content: space-between;
}

.guarantee-item {
    display: flex;
    align-items: flex-start;
}

.guarantee-text {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #55504B;
    max-width: 510px;
    margin-top: 0;
}

.guarantee-icon {
    margin-right: 15px;
}

#request {
    background: url(../img/request-bg.png) no-repeat center;
    background-size: cover;
}

.request-title {
    color: #fff;
    padding-top: 80px;
    margin-bottom: 13px;
    margin-top: 0;
}

.request-text {
    font-family: 'RobotoLight', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 65px;
}

#form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}

.request-input,
.request-button {
    width: 273px;
    height: 55px;
    border: none;
}

.request-input {
    background: rgba(255, 255, 255, 0.25);
    padding-left: 12px;
    color: rgb(255, 255, 255);
    font-family: 'RobotoRegular', sans-serif;
}

.request-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'RobotoLight', sans-serif;
}

.request-input:focus,
.request-button:focus {
    outline: none;
}

.request-button {
    background: linear-gradient(101.39deg, #F8CA86 0%, #D1891D 100%);
    color: white;
    font-size: 20px;
    line-height: 23px;
    font-family: 'RobotoBold', sans-serif;
    transition: all 0.1s ease-in-out;
}

#footer {
    background: #2C2319;
}

.footer-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px 0 50px 0;
}

.footer-content div {
    display: flex;
    align-items: center;
}

.footer-content .insta-title, .footer-content .mail-title, .footer-content .phone-title {
    margin-left: 10px;
    color: #fff;
    font-family: 'UbuntuLight', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.footer-content .insta-title:hover, .footer-content .mail-title:hover, .footer-content .phone-title:hover {
    color: #EEAB47;
}

.footer-content .phone-title {
    font-family: 'UbuntuBold', sans-serif;
}

.footer-phones {
    display: flex;
    flex-direction: column;
}

#footer .phone-block {
    display: flex;
    align-items: flex-start;
}

button {
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.logo {
    cursor: pointer;
}

.calc-button:hover, .request-button:hover {
    box-shadow: 0 0 17px 0 #d0a05b;
}